:root {
	--bg-color: #869960;
	--bg-header-color: #617140;
}

html {
	background-color: #869960;
	line-height: 1.7;
}

.container {
	max-width: 1024px;
	padding-left: 40px;
	padding-right: 40px;
}

header {
	padding-top: 20px;
	color: #fff;
	background-color: var(--bg-header-color);
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}
header p {
	margin: 0;
	font-size: 90%;
}

/* 네비게이션 */
.nav {
	margin-top: 20px;
}
.nav li {
	float: left;
	margin-right: 5px;
}
.nav li a {
	display: block;
	background-color: var(--bg-color);
	color: #fff;
	padding: 10px 20px;
	transition-property: color, background-color;
	transition-duration: 2s;
}
.nav li a:hover,
.nav li a.active {
	background-color: #fff;
	color: #2c465a;
}

@media screen and (max-width: 480px) {
	.container {
		padding: 0 20px;
	}
}
@media screen and (max-width: 632px) {
	.nav li {
		width: 33.332%;
		margin-right: 0;
	}
	.nav li a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
}

/* /네비게이션 */

/* 메인영역 */
main {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
}
@media screen and (max-width: 480px) {
	main {
		padding: 20px 0;
	}
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.info-box {
	margin-bottom: 1em;
	padding: 20px 40px 7px 40px;
	background-color: #efeedb;
	border: 5px solid #e6e5c2;
}

.sidebar {
	width: 34%;
	float: left;
	padding: 20px 40px;
	font-size: 85%;
	background-color: #e5e9dc;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.main-area,
	.sidebar {
		width: auto;
		float: none;
	}

	.main-area {
		padding-right: 0;
	}
}

/* 푸터영역 */
footer {
	text-align: center;
	font-size: 85%;
	color: #fff;
	padding: 20px 0;
}
