nav {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		float: left;
		margin-right: 15px;
		@include bp-480 {
			float: none;
			margin-right: 0;
			margin-bottom: 2px;
		}
	}
	a {
		text-decoration: none;
		display: block;
		padding: 10px;
		background-color: $primaryColor;
		color: #fff;
	}
}
